DATABASE_URL=
JWT_SECRET=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
REDIS_URL=
SECRET_KEY=
PORT=8080
GLITCHTIP_DOMAIN=http://errors.yourdomain.com
DEFAULT_FROM_EMAIL=errors@yourdomain.com
EMAIL_URL=consolemail://
ACCOUNT_EMAIL_VERIFICATION=none
GLITCHTIP_DSN=